* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

canvas {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  border: 5px solid white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img {
  display: none;
}
#fullscreen {
  position: absolute;
  font-size: 20px;
  padding: 10px;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
}
#sound {
  width: 50px;
  height: 50px;
  position: absolute;
  font-size: 2rem;
  border: 0;
  cursor: pointer;
  top: 25px;
  left: 1050px;
}
